$panel-header-background-color: #3d404a;
$panel-border-color: #3d404a;
$splitter-active-background-color: #ff0000;

.x-splitter-vertical {
	background-color: #ff0000;
}

.x-panel-header-title-default > .x-title-text-default:after {
	content: '' !important;
}